<div class="container">
	<h1 class="pb-2">Checkout Form - Using Reactive Forms</h1>
	<form [formGroup]="checkoutGroup" (ngSubmit)="postData();">
		<div>
			<label for="">Email</label>
			<input 
				type="text"
				class="form-control" 
				name="email"
				id="email"
				placeholder=""
				formControlName="email"
			>
			<small 
				*ngIf="checkoutGroup.get('email').touched && checkoutGroup.get('email').hasError('required')" 
				class="form-text text-muted"
			>
		    Please fill email fields
			</small>  
			<small 
				*ngIf="checkoutGroup.get('email').touched && checkoutGroup.get('email').hasError('email')" 
				class="form-text text-muted"
			>
			Email is invalid
			</small>  
			<small 
				*ngIf="checkoutGroup.get('email').touched && checkoutGroup.get('email').hasError('minlength')" 
				class="form-text text-muted"
			>
			Minimum > 5 character
			</small>  
		</div>
		<div>
			<label for="">Password</label>
			<input 
				type="text"
				class="form-control" 
				name="password" 
				id="password"  
				placeholder=""
				formControlName="password"

			>
		</div>
		<div>
			<span style="color:deeppink">Checkbox</span>
			<br/>
			<label class="form-check-label">
				<input 
					type="checkbox" 
					name="terms" 
					id="terms"
					formControlName="terms"
				>
				Agree to terms
			</label>
		</div>
		<div formArrayName="listItem">
			<div *ngFor="let item of checkoutGroup.controls.listItem['controls']; let i=index" [formGroupName]="i">
				<a [routerLink] (click)="removeItem(i);">Remove Item</a>
				<br/><br/>
				<input type="text" formControlName="itemName" id="task{{i}}"/>
				<br/><br/>
				<input type="text" formControlName="itemCity" id="task{{i}}"/>
				<br/><br/>
				<input type="checkbox" formControlName="itemDone" id="task{{i}}"/>
			</div>
		</div>

		<!-- <div formArrayName="listData">
			<div *ngFor="let item of checkoutGroup.controls.listData['controls']; let i=index ">
				<input type="text" [formControlName]="i" id="task{{i}}"/>
				
			</div>
		</div> -->
		<div>
			<button type="submit" class="btn btn-primary">Checkout</button>&nbsp;
			<button (click)="resetForm();" class="btn btn-warning">Reset Form</button>&nbsp;
			<button type="submit" (click)="addNewItem();" class="btn btn-danger">Add Row</button>

		</div>	
	</form>
	<div>
		Item: {{test |json}}
	</div>

</div>

