<h1 style="color:blue; border:2px solid red;width:70%">Welcome to Angular Application</h1>
<!-- <app-login></app-login> -->
<!-- <app-test></app-test> -->
<!-- <app-test-directive></app-test-directive> -->
<!-- <hr/>
<app-data-binding></app-data-binding> -->
<!-- <hr/> -->
<!-- <app-test-pipe></app-test-pipe> -->
<!-- <app-test-routing></app-test-routing> -->
<!-- <div>
  <ul>
      <li><a routerLink="/login"> Login</a></li> 
      <li><a routerLink="/test-pipe">Test pipe </a></li> 
  </ul>
</div>
<hr/>
<div>
  <ul>
      <li><a routerLink="/test-routing/view"> Product/View</a></li> 
      <li><a routerLink="/test-routing/edit">Product/Edit</a></li>
      <li><a routerLink="/todos">Todos</a></li> 
 
  </ul>
</div> -->
<router-outlet></router-outlet>