<p>test works!</p>
<!-- <div>test-directives works!</div>

<div>
    <button (click)="readMe();" type="button" class="btn btn-primary">Click Me</button>
</div>


<div>
    Change color
</div>
<div 
    *ngIf="showMessage; then showThenMessage;else showElseMessage"
    >
    Show me this message if true statement
</div>
<ng-template #showThenMessage>Show then true messages</ng-template>
<ng-template #showElseMessage>Show else</ng-template>
<hr/>
<div>
    <div>
        <label>Test syntax của ngIf</label>
    </div>
    <div [ngSwitch]="testSwitch">
        <div *ngSwitchCase="'one'">Trường hợp số 1</div>
        <div *ngSwitchCase="2">Trường hợp số 2</div>
        <div *ngSwitchCase="3">Trường hợp số 3</div>
        <div *ngSwitchDefault>Trường hợp còn lại</div>
    </div>
</div>
</hr> -->
